<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.6.10/vue.js">

  </script>
  <style>
    .back{
      background:green
    }
    .r{
      background:red
    }
  </style>
</head>
<body>
  <div id="app">
    <span>{{name}}</span><br>
    <!-- checkbox只要定义了v-model指令，那么checkbox属性上的checked属性不管用 -->
    input:<input type="checkbox" checked v-model="ischecked"><br>
    input值:{{checked}}
    <hr>

    <!-- 如果input是一个多选框，且有多个，每个多选框的v-mdel属性值都是同一个变量，且
    这个变量是一个数组，那么当选中checkbox时，会将checkbox的值加入到数组变量中，如果没
    有value就加入null -->
    <input type="checkbox" value="1" v-model="arr">
    <input type="checkbox" value="2" v-model="arr">
    <input type="checkbox" value="3" v-model="arr">
    <input type="checkbox" v-model="arr">
    <div>
      <p>arr值</p>
      <ul>
        <li v-for="(item,index) in arr">{{item}}-{{index}}</li>
      </ul>
    </div>
    {{arr}}

    <hr>
    下拉框中的多选和单选:
    <!-- 如果v-model绑定在下拉框中时，如果option没有value值，那么取的就是option的
    innerText值 。同时，如果下拉框是多选，那么会将选中的内容加入到v-model绑定的变量中
    同时，如果下拉框是多选，同时绑定到下拉框的变量的值不是一个数组，那么会强行将这个
    值变成一个数组-->
    <select v-model="mul" multiple>
      <option value="1">1</option>
      <option value="2">2</option>
      <option>3</option>
    </select>
    下拉框值:{{mul}}

    <hr>
    <!-- v-for指令循环一个数组元素时，一般都是加到要被循环的元素身上 -->
    <ul>
      <li v-for="item in goods">{{item}}</li>
    </ul>
    <hr>
    <!-- v-for也可以循环一个对象的所有属性，循环的值第一个是属性值，第二个是属性名 -->
    <ul>
      <li v-for="(val,key) in obj">{{key}}:{{val}}</li>
    </ul>

    <hr>
    <!-- v-bind指令用来动态绑定属性 -->
    <div v-bind:class="cls" style="height:50px;width:50px"></div>
    <button @click="fn">改变</button>
    <input type="text" v-for="item in goods" :value="item">

    <hr>
    <!-- 过滤器：就是处理管道前面的值。过滤器是一个函数。当然，过滤器是一个函数，也可传递参数，但是
    默认会将过滤的值当成第一个参数传递进去
    语法：
        值|过滤器

    过滤器分类：
      全局过滤器：
        定义：
          Vue.filter(过滤器名(过滤器函数名),函数体)
      局部过滤器
        定义：
        filters:{
          过滤器名(val,num){
            函数体
          }
        } -->

    <span>{{0.79998001|convert(3)}}</span>
    <hr>
    <ul>
      <li v-for="item in test">{{item}}</li>
    </ul>

    <hr>

    <!-- 计算属性：
      computed:{
        属性:{
          get(){
            //获取计算属性时触发
          },
          set(){
            //设置计算属性时触发
          }
        }
      }
    注意：在计算属性中定义了的属性不能在data对象中重复出现，否则报错.
    注意：计算属性只要依赖（所依赖的值必须要有setter或者getter属性，什么时候有
    setter和getter属性呢？即在data属性中这个变量有初始化设置）的值发生改变，那么就会触发重新计算

    注意：计算属性可以没有setter属性，但是必须要有getter属性，什么时候既有setter属性又有
    setter属性呢？即使用v-model绑定时


    如果计算属性只有getter属性，那么可以简写为：属性(){}

      例如：
          num:{
          getter(){

        }
        }

        简写为：
          num(){

        }
    -->
      计算属性：{{isall}}
      <hr>

      v-show和v-if使用
      <div style="height:60px;width:80px;background:red" v-show="0"></div>
      <span>asdas </span>
      v-show操作的是样式，即控制元素的display属性是none还是block
      v-if操作的是元素直接控制是否将元素remove掉了

  </div>
</body>
<script type="text/javascript">
    // 全局过滤器
    // Vue.filter("toFixed",(item,param) => {return item.toFixed(params)})
    var vm = new Vue({
      el:"#app",
      data:{
        name:"zhangsan",
        ischecked:false,
        arr:[],
        mul:[],
        goods:["apple","pear","orange"],
        obj:{name:"zhangsna",age:12,hobby:"play baseketboll"},
        test:{a:{h:[1,2,3]},d:"hh"},
        cls:"back",
        k:[1,2,2,3,]
      },
      computed:{
        checked(){
          return this.ischecked
        },
        isall:{
          get(){
            console.log(123)
          },
          set(){

          }
        }
      },
      methods:{
        dochange(){
          this.k.splice(1,1)
        },
        change(){

        },
        fn(){
          this.cls = "r"
        }
      },
      // 定义局部过滤器
      filters:{
        convert(val,num){
          return val.toFixed(num)
        }
      }
    })
</script>
</html>
